#Remove this line before deploying
# ENTER cheems TOKEN (Get your cheems_TOKEN by talking to @cheemsfather)
cheems_TOKEN = "5141469117:AAF7spUCJM-QhqPF3b_a6gdYMr-1XkySTZA"
GDRIVE_FOLDER_ID = "10Q8Ea56zI3wMRqtj6ad0MAO-433BVgca"
OWNER_ID = 2005755862
DOWNLOAD_DIR = "/home/username/mirror-cheems/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 5
AUTO_DELETE_MESSAGE_DURATION = 20
IS_TEAM_DRIVE = "True"
TELEGRAM_API = 5864882
TELEGRAM_HASH = "5b5714309e7e3aff4b5d811882f8a469"
USE_SERVICE_ACCOUNTS = ""

# Optional config
AUTHORIZED_CHATS = "-1001521927502" #Separated by space
INDEX_URL = "https://bot0.groot54.workers.dev/0:"
MEGA_KEY = ""
MEGA_USERNAME = ""
MEGA_PASSWORD = ""
STOP_DUPLICATE_MIRROR = ""
BLOCK_MEGA_LINKS = ""
SHORTENER = ""
SHORTENER_API = ""

# Add more buttons (two buttons are already added of file link and index link, you can add extra buttons too, these are optional)
# If you don't know what are below entries, simply leave them, Don't fill anything in them.
BUTTON_THREE_NAME = ""
BUTTON_THREE_URL = ""
BUTTON_FOUR_NAME = ""
BUTTON_FOUR_URL = ""
BUTTON_FIVE_NAME = ""
BUTTON_FIVE_URL = ""
